/*Purpose: CSS code for Lab 7 Practice 2*/

/*Style of Home Button*/
.btn {
    background-color: rgb(237, 132, 152); /* Blue background */
    border: None;/* Remove borders */
    border-radius: 25px;
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/*Changes color of Home Button when hovered*/
.btn:hover {
    background-color: rgb(255, 212, 212);
}

body{
    font-family: "Quicksand", sans;
    padding: 20px 50px 20px;
}

h1 {
    text-align: center;
}

/*Paragraph border style*/
#paragraph {
    border-style: solid;
    border-width: 3px;
    padding: 15px 15px 15px;
}

.button{
    font-family: "Quicksand", sans;
}